@charset "UTF-8";

.inner {
    padding: 0 30px;
}
.en_title {
    font-size: 4.5rem;
}
.bg_top_bottom {
    position: relative;
}
.top {
    padding: 120px 0 100px;
}
.top h1 {
    font-size: 4.7rem;
}
.top_box {
    width: 100%;
}
.top_box p {
    left: 110px;
    top: 60px;
}
/* Header */
header .pc_header {
    display: none;
}

/* About_Top */
.about_wrap {
    flex-direction: column;
    padding: 0;
}
.about_bg {
    bottom: -20px;
    left: -20px;
}
.about_txt_all {
    margin-left: 0;
    margin-top: 30px;
}

/* Skills */
.skills {
    padding: 20% 0;
}
.skills .skills_all {
    flex-direction: column;
}
.skills .skill_item {
    width: 100%;
    margin-bottom: 20px;
}

/* Works */
.works {
    padding: 20% 0;
}
.works .work_box {
    width: 100%;
    margin-bottom: 20px;
}
