@charset "UTF-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 1.4rem;
    color: #707070;
    overflow-x: hidden;
    background-color: #fcfcfc;
}

.inner {
    width: 100%;
    max-width: 1080px;
    padding: 0 50px;
    margin: 0 auto;
}

.sp {
    display: none;
}

.en_name {
    font-family: 'Sacramento', cursive;
}

.en_title {
    font-family: 'Lora', serif;
    font-size: 5.5rem;
    letter-spacing: 4px;
    opacity: 0.5;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 500ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}

.bg_top_bottom {
    width: 100%;
    height: 30px;
    background-color: #707070;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 0;
    border-color: #c9bebc transparent transparent transparent;
}

.navigation {
    display: none;
}

/* Header */
header ul {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 100%;
}

header ul li:not(:last-child) {
    margin-right: 30px;
}

header ul li a {
    color: #707070;
} 

/* Top */
.top {
    height: 100vh;
    position: relative;
    padding: 150px 0;
}

.top h1 {
    font-size: 9rem;
    letter-spacing: 4px;
}

.top-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.top-box p {
    position: absolute;
    left: 380px;
    top: 30px;   
    width: 120px;
    height: 25px;
}

/* Skills */
.skills {
    /* background: linear-gradient(rgba(252,252,252,0.5),rgba(252,252,252,0.5)),
     url(../img/bg_skills.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover; */
    position: relative;
    padding: 150px 0 100px;
}

/* .skills::after {
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    left:0;
    bottom: 0;
    border-top: 60px solid transparent;  
    border-left: 50vw solid transparent; 
    border-right: 50vw solid #fcfcfc;   
    border-bottom: 60px solid #fcfcfc;  
} */

.skills .skills_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.skills .skill_item {
    width: 30%;
    background-color: white;
    box-shadow: 5px 6px 11px rgba(0,0,0,0.3);
}

.skills .skill_item .square {
    padding: 20px 30px;
}

.skills .skill_item i {
    font-size: 5rem;
}

.skills .skill_item h3 {
    padding: 10px 0px;
}

/* Works */
.works {
    background-color: #fcfcfc;
    padding: 30px 0;
    position: relative;
}

.content {
    text-align: center;
}

.content p {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.works-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0 30px;
}

.works .work-box {
    width: 30%;
    height: auto;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.works .work-box span{
    font-size: 1.7rem;
}

.hover-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px;
}

.hover-mask:hover {
    opacity: 1;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

/* 2つ目の要素に200msのdelayをかける */
.fadein:nth-of-type(2) {
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
}

/* 3つ目の要素に400msのdelayをかける */
.fadein:nth-of-type(3) {
	-moz-transition-delay:400ms;
	-webkit-transition-delay:400ms;
	-o-transition-delay:400ms;
	-ms-transition-delay:400ms;
}

.works .work-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */
/* .contact {
    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),
    url(../img/bg_contact.jpg) no-repeat center;
   background-attachment: fixed;
   background-size: cover;
   -webkit-background-size: cover;
    position: relative;
    padding: 150px 0 100px;
}

.contact::before {
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    left:0;
    top: 0;
    border-top: 60px solid #fcfcfc;  
    border-left: 50vw solid #fcfcfc;  
    border-right: 50vw solid transparent;   
    border-bottom: 60px solid transparent;  
} */

/* .skills::before {
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    left:0;
    top: 0;
    border-top: 60px solid #fcfcfc;  
    border-left: 50vw solid #fcfcfc;  
    border-right: 50vw solid transparent;   
    border-bottom: 60px solid transparent;   
} */

.contact .bg_contact {
    background-color: #fff;
    padding: 20px 40px 30px;
    width: 450px;
    margin-left: auto;
    box-shadow: 5px 10px 13px rgba(0,0,0,0.3);
}

.contact .info {
    padding: 20px 0;
    text-align: center;
}

.contact .contact_btn {
    text-align: center;
}

.contact .contact_btn a,
.introduce a {
    color: white;
    background-color: #808080;
    border-radius: 20px;
    padding: 12px 25px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.1);
}

.contact .contact_btn a:hover,
.introduce a:hover {
    background: white;
    color: #808080;
    border: 1px solid #707070;
}

/* introduce */
.introduce {
    position: relative;
    padding: 20px 0;
    background-color: #fcfcfc;
}

.introduce .profile_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile_box .profile_img {
    width: 100px;
    height: auto;
    margin-right: 50px;
}

.profile_box .profile_img img{
    width: 100%;
}

.name_b {
    font-size: 2.2rem;
    opacity: 0.7;
    font-weight: bold;
}
.introduce a {
    padding: 3px 10px;
    margin-left: 30px;
}
/* Footer */
footer {
    position: relative;
}

footer p {
    line-height: 30px;
    text-align: center;
    color: white;
}

footer .footer_color {
    background-color: #c9bebe;
}

footer .triangle_color {
    border-color: transparent transparent #707070 transparent;
    border-width:  0 0 120px 120px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.twitter {
    padding-left: 10px;
}

/* About */
.about-wrapper {
    width: 75%;
    margin: 30px auto;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.about-img {
    width: 45%;
}

.about-img img {
    width: 100%;
}

.about-text {
    width: 45%;
}

/* Contact_form */
.contact_form {
    text-align: center;
    padding: 20px 0 30px;
}

.contact_form .content {
    margin: 0 auto;
}

.contact_info {
    padding: 20px 0;
}

.contact_form form {
    font-size: 1.7rem;
    display: inline-block;
    text-align: left;
}

form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.contact_form .item {
    margin-bottom: 20px;
}

.contact_form form label {
    display: block;
}

.contact_form input[type="text"], input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    display: block;
    width: 100%;
}

.contact_form textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    height: 120px;
    padding: 10px 20px;
    display: block;
    width: 100%;
}

.contact_form input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size: 1.6rem;
    font-weight:bold;
    padding: 10px 30px;
    border-radius: 5px;
  }

.contact_form .contact_btn {
    text-align: center;
}
